# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
venv310/
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Data and cache
images/
images_clean/
faceapp/downloads/
*.whl

# Model outputs
Silent-Face-Anti-Spoofing-master/saved_logs/

# Ignore large model/data files if not needed
*.zip

# Ignore the frontend directory
snap-share-remember-me/ 